<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
	        <nav class="flex-container">      
	
	        	<a class="flex-item head-text" href="/">Home</a>
	        
		</nav>
	        
		<section>
	
	        	{% block content %}
			<div class="flex-container" style="height: 200px;">
				<p class="main-cont flex-item">
					This is an Oregon State University OAUTH2.0 Assignment.
				</p>
			</div>
			<div class="flex-container" style="height: 200px;">
			        <p class="main-cont flex-item">
			        	<a href="{{end_user_request}}">Click to Request that the Client Attempt to Access End User's Protectd Resources via OAUTH2.0</a>
			        </p>
			</div>
	        	{% endblock %}
		
	        </section>
	        <footer class="flex-container">

	        	<a class="flex-item foot-text" href="/">Home</a>

       	 	</footer>
        </div>
    </body>
</html>
