<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
	        <nav class="flex-container">      
	
	        	<a class="flex-item head-text" href="/">Home</a>
	        	<div class="flex-item head-text" href="/">Oregon State University</div>
	        	<div class="flex-item head-text" href="/">CS 496 Mobile/Cloud</div>
	        
		</nav>
	        
		<section>
	
	        	{% block content %}
			<div class="flex-container">
				<p class="main-cont flex-item" id="headline-text">
					This is an Oregon State University OAUTH 2.0 Assignment.
				</p>
			</div>
			<div class="flex-container">
				<div class="flex-col">
					<div class="flex-container">
					        <p class="main-cont flex-item" id="sub-head-text">
					        	Request that the Client Attempt to Access End User's Protected Resources via OAUTH 2.0
					        </p>
					</div>
					<div class="flex-container">
					        <p class="main-cont flex-item">
					        	Click the button below to tell this web app to use OAUTH 2.0!
					        </p>
					</div>
					<div class="flex-container">
					        <p class="main-cont flex-item">
							<a href="{{end_user_request}}" role="button" class="btn btn-primary" id="button-text">USE OAUTH!</a>
					        </p>
					</div>
				</div>
			</div>
	        	{% endblock %}
		
	        </section>
	        <footer class="flex-container">

	        	<a class="flex-item foot-text" href="/">Home</a>

       	 	</footer>
        </div>
    </body>
</html>
