<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
	        <nav>      
	
	        	<a href="/">Home</a>
	        
		</nav>
	        
		<section>
	
	        	{% block content %}
	        	<p>
				This is an OAUTH2.0 Assignment (Oregon State Univ.).<br></br>
			</p>
	        	<p>
	        		<a href="{{end_user_request}}">Request that the Client Attempt to Access End User's Protectd Resources via OAUTH2.0</a>
	        	</p>
	        	{% endblock %}
		
	        </section>
	        <footer>

	        	<a href="/">Home</a>

       	 	</footer>
        </div>
    </body>
</html>
