<!DOCTYPE html>
<html lang='en'>

<head>
	<% include ../partials/head %>
</head>

<body>

	<header>

	</header>

	<main>
		<div class="test row">
			CS496 Test
		</div>	
	</main>

</body>

<footer>

</footer>

</html>
