<meta charset="UTF-8">
<title>Super Awesome</title>
<html lang="en">
<main>
    <div>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

</body>
</html>
